body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #5f7889;
}

ul {
  margin: 0;
}

.home-a {
  filter: brightness(95%);
  color: #edf1fa;
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.home-a:hover {
  filter: brightness(105%);
  color: #3372ff;
}

.bg-img {
  position: relative;
  border-radius: 3px;
  width: 100%;
  height: 573px;
  overflow: hidden;
}

.bg-img:after {
  filter: brightness(20%);
  background: var(--img-url);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bg-img:hover:after {
  filter: brightness(47%);
}

.bg-steel {
  background: #5f7889;
}

.site-header .navbar-nav .nav-link {
  color: #cbd4bd;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:active {
  font-weight: 450;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.product-name {
  word-break: break-word;
  color: #444444;
}

a.product-name:hover {
  color: #438bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.product-thumb {
  height: 125px;
  width: 125px;
  margin-right: 15px;
}

.product-img-container {
  width: 500px;
  height: 500px;
  line-height: 500px;
  text-align: center;
}

.product-img {
  max-height: 500px;
  max-width: 500px;
  vertical-align: middle;
}

.product-metadata {
  padding-bottom: 1px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e3e3e3;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.account-heading {
  font-size: 2.5rem;
}

.price-font {
  font-size: 1.5rem;
  font-weight: 550;
  color: #5f7889;
}

.form-narrow {
  width: 550px;
}

.buy-button {
  float: right;
}
