{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="col">
    <div class="row">
      <div class="content-section">
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group form-narrow">
            <legend class="border-bottom mb-4">
              <h2>Create an account</h2>
            </legend>
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
          </div>
        </form>
        <div class="border-top pt-3">
          <small class="text-muted">
            Already got an account?
            <a class="ml-2" href="{% url 'user-login' %}">Login</a>
          </small>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
