{% extends 'shop/base.html' %}

{% block content %}
  {% for product in products %}
    <article class="media content-section">
      <img class="rounded product-img" src="{{ product.thumb.url }}">
      <div class="media-body">
        <div class="product-metadata">
          <h2>
            <a class="product-name" href="#">{{ product.title }}</a>
          </h2>
          <b class="price-font">{{ product.price }}</b>
        </div>
        <button class="btn btn-outline-info" id="buy-button" href="#">Buy</button>
      </div>
    </article>
  {% endfor %}
{% endblock content %}
