{% extends 'shop/base.html' %}
{% load class_name_str %}
{% block content %}
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group form-narrow">
        <legend class="border-bottom mb-4">
          <h2>Delete auction "{{ product.name }}"?</h2>
        </legend>
        <img class="rounded product-img" src="{{ product.thumb.url }}">
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-danger" type="submit">Delete</button>
        <a class="btn btn-outline-secondary" href="{% url 'shop-product_detail' product|class_name_str product.slug %}">Cancel</a>
      </div>
    </form>
  </div>
{% endblock content %}
