{% extends 'shop/base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <article class="media content-section">
        <a href="#">
          <img class="rounded product-img" src="{{ product.thumb.url }}">
        </a>
        <div class="media-body">
          <div class="product-metadata">
            {% if product.seller == user %}
              <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'shop-product_update' product.slug %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'shop-product_delete' product.slug %}">Delete</a>
              </div>
            {% endif %}
            <h1>{{ product.name }}</h1>
            <small class="text-muted">{{ product.date_posted|date:"d F, Y \a\t G:i" }}</small>
          </div>
          <b class="price-font">{{ product.price }}</b>
        </div>
      </article>
    </div>
    <div class="col-md-4">
      <article class="media content-section">
        <a class="mr-2" href="#">
          <!--TODO user profile pic-->
          <img class="rounded-circle account-img" src="{{ product.seller.img.url }}">
          {{ product.seller.username }}
        </a>

      </article>
    </div>
  </div>
{% endblock content %}
