{% extends 'shop/base.html' %}
{% load ratings %}
{% load class_name_str %}

{% block content %}
  <div class="row">
    <div class="col-md-9">
      <article class="media content-section">
        <div class="product-img-container">
          <a href="#">
            <img class="rounded product-img" src="{{ product.img.url }}">
          </a>
        </div>
        <div class="media-body">
          <div class="product-metadata">
            {% if product.seller == user %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'shop-product_update' product|class_name_str product.slug %}">
                  Update
                </a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'shop-product_delete' product|class_name_str product.slug %}">
                  Delete
                </a>
            {% endif %}
            <h1>{{ product.name }}</h1>
            <small class="text-muted">{{ product.date_posted|date:"d F, Y \a\t G:i" }}</small>
          </div>
          <b class="price-font">{{ product.price }}</b>
          <a class="btn btn-outline-info buy-button" href="{% url 'user-rate' product.seller.username %}">Buy</a>
        </div>
      </article>
      <div class="content-section">
        {% for property, value in product.get_fields %}
          {% if value and value != 'None' %}
            <h5><b>{{ property }}</b> - {{ value }}</h5>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="col-md-3">
      <div class="media content-section" style="display: block;">
        {% if product.seller == user %}
          <a class="mr-2" href="{% url 'user-my_profile' %}">
        {% else %}
          <a class="mr-2" href="{% url 'user-profile' product.seller.username %}">
        {% endif %}
          <img class="rounded-circle account-img" src="{{ product.seller.img.url }}">
          {{ product.seller.username }}
        </a>
          {% ratings product.seller icon_height=24 icon_width=24 read_only=True %}
      </div>
    </div>
  </div>
{% endblock content %}
